@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
}
html {
  font-size: 16px;
}
body {
  font-family: "Work Sans", sans-serif;
}
nav {
  border: 1px solid gold;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 8%;
}

.logo a {
  text-decoration: none;
  color: #131313;
  font-size: 3rem;
  font-weight: bold;
}
.nav-links ul {
  display: flex;
  gap: 50px;
}
.nav-links ul li {
  list-style: none;
}
.nav-links ul li a {
  text-decoration: none;
  color: #424242;
  font-size: medium;
}
