@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
}
html {
  font-size: 16px;
}
body {
  font-family: "Work Sans", sans-serif;
}
main {
  border: 1px solid brown;
  max-width: 1440px;
  margin: 0px auto;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 8%;
  background-color: #f8ebdd;
}

.logo a {
  text-decoration: none;
  color: #131313;
  font-size: 3rem;
  font-weight: bold;
}
.nav-links ul {
  display: flex;
  gap: 70px;
}
.nav-links ul li {
  list-style: none;
}
.nav-links ul li a {
  text-decoration: none;
  color: #424242;
  font-size: medium;
}

/* banner start  */
.banner {
  background-color: #f8ebdd;
}
.banner-con {
  width: 80%;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
  text-align: center;
  padding: 40px;
}
.banner-con h1 {
  font-size: 4rem;
  align-items: center;
  font-weight: bold;
  color: #131313;
}
.banner-con p {
  font-size: 15px;
  color: #727272;
}
.prim-btn {
  font-size: 18px;
  font-weight: 600px;
  padding: 19px 24px;
  color: white;
  background-color: #ff900e;
  border: none;
  border-radius: 12px;
  cursor: pointer;
}
.prim-btn:hover {
  background-color: #c96b00;
  transition: all 0.5s;
}
.banner-img {
  width: 80%;
  margin: 0px auto;
}
.banner-img img {
  width: 100%;
}
/* section "list-of-features" start  */
.list-of-features {
  display: flex;
  align-items: center;
  gap: 60px;
  padding: 85px 0px;
}
.team-imgs {
  gap: 9px;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
.team-imgs img {
  width: 340px;
}
.features-con {
  width: 36%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: baseline;
}
.features-con h2 {
  font-size: 2.8rem;
}
#one {
  font-weight: 500;
  color: #727272;
}
#two {
  font-weight: bold;
  color: #131313;
}
#three {
  font-weight: bold;
  color: #ff900e;
}
.features-con p {
  font-size: 1rem;
  color: #727272;
}
/* the "love-list" section start  */
.love-list {
  display: flex;
  border: 1px solid magenta;
  padding: 20px 0px;
  align-items: center;
  gap: 70px;
  position: relative;
}
.list-con {
  padding: 2px 30px;
}
.heading-l h2 {
  border-left: 6px solid #ff900e;
  padding: 2px 4px;

  font-size: 2.8rem;
  color: #131313;
}
.h2-title {
  font-size: 2.8rem;
  color: #131313;
}
.heading-l p {
  font-size: 1rem;
  color: #727272;
  margin: 25px 0px;
}
.pra {
  font-size: 1rem;
  color: #727272;
}
.list-lo {
  display: flex;
  flex-direction: column;

  gap: 27px;
}
.list-box {
  border-radius: 8px;
  padding: 30px 33px;
  box-shadow: 2px 2px 14px 1px rgb(212, 212, 212);
}
.list-box h3 {
  font-size: 1.3rem;
  margin-bottom: 24px;
  color: #131313;
}
.list-box p {
  font-size: 1rem;
  color: #727272;
}
#btn-10 {
  position: absolute;
  bottom: 8px;
  right: 33%;
  font-size: 4rem;
  font-weight: bold;
}
#btn-10 span {
  font-size: 16px;
  font-weight: 500;
}
/* the "Some Facts" section start  */
.Some-Facts {
  border: 1px solid indianred;
  display: flex;
  flex-direction: column;
  padding: 70px 0px;
  gap: 70px;
}
.facts-con {
  display: flex;

  align-items: center;
  justify-content: space-around;
}
.facts-box {
  border: 1px solid #ff900e;
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: center;
  padding: 45px 40px;
  border-radius: 8px;
}
.facts-title {
  width: 40%;
}
.facts-title h2 {
  margin-bottom: 20px;
}
.facts-box img {
  width: 45px;
}
.facts-box p {
  font-size: 20px;
  color: #727272;
}
.num {
  font-size: 45px;
  font-weight: 600;
}
/* the 'sponsor'section start  */
.sponsor {
  border: 1px solid lemonchiffon;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  padding: 70px 0px;
}
.sponsor-title {
  display: flex;
  width: 37%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 20px;
  margin-bottom: 37px;
}
.sponsor-logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  color: antiquewhite;
}
.footer {
  max-width: 1440px;
  padding: 70px 0px;
  margin: 0px auto;
  background-color: #fff4e7;
  display: flex;
  align-items: center;
  justify-content: center;
}
