@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
}
html {
  font-size: 16px;
}
body {
  font-family: "Work Sans", sans-serif;
}
main {
  border: 1px solid brown;
  max-width: 1440px;
  margin: 0px auto;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 8%;
  background-color: #fae0c2;
}

.logo a {
  text-decoration: none;
  color: #131313;
  font-size: 3rem;
  font-weight: bold;
}
.nav-links ul {
  display: flex;
  gap: 70px;
}
.nav-links ul li {
  list-style: none;
}
.nav-links ul li a {
  text-decoration: none;
  color: #424242;
  font-size: medium;
}

/* banner start  */
.banner {
  background-color: #fae0c2;
}
.banner-con {
  width: 80%;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
  text-align: center;
  padding: 40px;
}
.banner-con h1 {
  font-size: 4rem;
  align-items: center;
  font-weight: bold;
  color: #131313;
}
.banner-con p {
  font-size: 15px;
  color: #727272;
}
.prim-btn {
  font-size: 18px;
  font-weight: 600px;
  padding: 19px 24px;
  color: white;
  background-color: #ff900e;
  border: none;
  border-radius: 12px;
  cursor: pointer;
}
.prim-btn:hover {
  background-color: #c96b00;
  transition: all 0.5s;
}
.banner-img {
  width: 80%;
  margin: 0px auto;
}
.banner-img img {
  width: 100%;
}
/* section "list-of-features" start  */
.list-of-features {
  display: flex;
  align-items: center;
  gap: 60px;
  padding: 85px 0px;
}
.team-imgs {
  gap: 9px;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
.team-imgs img {
  width: 340px;
}
.features-con {
  width: 36%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: baseline;
}
.features-con h2 {
  font-size: 2.8rem;
}
#one {
  font-weight: 500;
  color: #727272;
}
#two {
  font-weight: bold;
  color: #131313;
}
#three {
  font-weight: bold;
  color: #ff900e;
}
.features-con p {
  font-size: 1rem;
  color: #727272;
}
